{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input name="symbol" autofocus class="form-control" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <input name="shares" class="form-control" placeholder="Number of Shares" min="1" type="number">
        </div>
        <button class="btn btn-success" type="submit">Buy</button>
    </form>
{% endblock %}