{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select autofocus class="form-control" name="symbol">
                <option disabled selected>Symbol</option>
                {% for symbol in symbols %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input name="shares" class="form-control" placeholder="Number of Shares" min="1" type="number">
        </div>
        <button class="btn btn-success" type="submit">Sell</button>
    </form>
{% endblock %}